$color-bg-windows: #222629;
$color-bg-body: #474B4F;
$color-btns: #86C232;
$color-btns-delete: #ba3550;
$headline-font-color: #61892F;
$font-color: white;
$secondary-font-color: #6b6e70;
// FONT
$the-biggest-font: 50px;
$big-font: 40px;
$middle-font: 30px;
$small-font: 20px;
$smaller-font: 13px;


$general-font: Raleway, Arial, sans-serif;

// GEOMETRY

$forms-padding: 25px;
$forms-margin-lft-rght: 20px;
$forms-width: 400px;
$border-radius: 10px;
$input-height: 35px;
$btns-margin-lft-rght: 10px;

